<!doctype html>
<html lang="en">
  <head>
        {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Upload Form</title>

        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/static.css' %}" />
  </head>
  <body>
    <div class="form-container">
      <h1>Upload File</h1>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" id="file" name="file" required />
        <button type="submit" class="submit-btn">Submit</button>
      </form>
    </div>
  </body>
</html>
