<!DOCTYPE html>
<html lang="en">
    <head>

        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chat Window</title>

        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/userform.css' %}">
    </head>

<body>
    <div class="form-container">
        <h1>Create User</h1>
        <form action="/makedir/" method="POST" enctype="multipart/form-data">
            <label for="name" class="form-label">Directory Name</label>
            <input type="text" id="name" name="name" required maxlength="255">
            
            <label for="photo" class="form-label">Upload Photo</label>
            <input type="file" id="photo" name="photo" accept="image/*" required>
            
            <button type="submit" class="submit-btn">Create Directory</button>
        </form>
    </div>
</body>
</html>
